#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .alt-status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  top: 0;
}

#chat-screen .alt-header {
  top: 10px;
}

#chat-screen .alt-status-bar {
  z-index: 2;
}

.main-chat {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
